/* block quotes */
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 1.5em;
}

/* scrolling */
slides > slide {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

/* hide page numbers */
slides > slide:not(.nobackground):after {
  content: '';
}

body{
  background: #e0e8eb !important;
}

slides,slide{
  background: #e0e8eb !important;
}

th,td{
  text-align: center;
}

td{
  font-weight: bold;
  color: #515151 !important;
}